@using WeatherExcercise.Models;
@model CityWeather

@{
    ViewBag.Title = "City Weather";
    if(Model != null)
    {
        ViewBag.Title = Model.CityName + " | " + ViewBag.Title;
    }
}

@if(Model != null)
{
    @await Component.InvokeAsync("WeatherNode", new { city = Model })
}
else
{
    <h3>City Code is not valid.</h3>
}